  <section class="section wizard wizard--current" data-target="wizard.slide" data-wizard-index="1">
    <div class="container">
      <div class="columns">
        <div class="column">
          <div class="card has-min-height-wizard">
            <div class="card-image">
              <figure class="image is-4by3">
                <img src="https://bulma.io/images/placeholders/600x480.png" alt="Step 1">
              </figure>
            </div>
            <div class="card-content">
              <div class="content">
                <%= t(".step1") %>
              </div>
            </div>
          </div>
        </div>

        <div class="column">
          <div class="card has-min-height-wizard">
            <div class="card-image">
              <figure class="image is-4by3">
                <img src="https://bulma.io/images/placeholders/600x480.png" alt="Step 2">
              </figure>
            </div>
            <div class="card-content">
              <div class="content">
                <%= t(".step2") %>
              </div>
            </div>
          </div>
        </div>

        <div class="column">
          <div class="card has-min-height-wizard">
            <div class="card-image">
              <figure class="image is-4by3">
                <img src="https://bulma.io/images/placeholders/600x480.png" alt="Step 3">
              </figure>
            </div>
            <div class="card-content">
              <div class="content">
                <%= t(".step3") %>
              </div>
            </div>
          </div>
        </div>
      </div>

      <p class="has-text-centered"><%= t(".additional_explanation") %></p>

      <div class="field is-grouped flex-justify-center mt-3">
        <div class="control">
          <%= link_to t(".setup_2fa"), otp_new_configure_path, class: "button is-primary", data: { action: "click->wizard#next" } %>
        </div>
        <div class="control">
          <%= link_to "Go Back", root_path, class: "button is-light", data: { action: "click->wizard#back"} %>
        </div>
      </div>
    </div>
  </section>
