<h1 class="title has-text-centered">2AF OTP</h1>
<h2 class="subtitle has-text-centered">Registration</h2>

<div class="box is-medium has-margin-auto">
  <%= form_for @identity, url: identity_path do |form| %>
    <% if @identity.errors.any? %>
      <div class="notification is-danger is-light">
        <h2 class="has-text-weight-bold is-size-4">Form is invalid</h2>
        <ul>
          <% for message in @identity.errors.full_messages %>
            <li><%= message %>
          <% end %>
        </ul>
      </div>
    <% end %>

    <div class="field">
      <%= form.label :email, class: "label" %>
      <div class="control">
        <%= form.text_field :email, maxlength: 50, class: "input", placeholder: "grace@mail.com" %>
      </div>
    </div>

    <div class="field">
    <%= form.label :password, class: "label" %>
      <div class="control">
        <%= form.password_field :password, maxlength: 16, class: "input" %>
      </div>
    </div>

    <div class="field">
      <%= form.label :password_confirmation, class: "label" %>
      <div class="control">
        <%= form.password_field :password_confirmation, maxlength: 16, class: "input" %>
      </div>
    </div>

    <div class="field is-grouped">
      <div class="control">
        <%= form.submit t(".create"), class: "button is-primary"%>
      </div>

      <div class="control">
        <%= link_to "Go Back", root_path, class: "button is-light" %>
      </div>
    </div>
  <% end %>

</div>
