<nav class="navbar" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
    <%= link_to root_path, class: "navbar-item" do %>
      <h2 class="subtitle">OTP</h2>
    <% end %>

    <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a>
  </div>

  <div id="navbarBasicExample" class="navbar-menu">
    <div class="navbar-start">
      <%= link_to "How to", "https://mariochavez.io", target: "_blank", class: "navbar-item" %>
    </div>

    <div class="navbar-end">
      <div class="navbar-item">
        <div class="buttons">
          <% if identity_signed_in? %>
            <% if current_identity.otp_enabled_at? %>
              <%= link_to "Disable 2FA", otp_disable_path, class: "button is-danger has-text-weight-bold" %>
            <% else %>
              <%= link_to "Enable 2FA", otp_new_configure_path, class: "button is-primary has-text-weight-bold" %>
            <% end %>
            <%= link_to "Log out", log_out_path, method: :delete, class: "button is-light" %>
          <% else %>
            <%= link_to "Sign up", sign_up_path, class: "button is-primary has-text-weight-bold" %>
            <%= link_to "Log in", log_in_path, class: "button is-light" %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</nav>
